{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href='{% static "templatemo-style.css" %}'>
    <style>
    h1 {text-align:center;}
    div {
    width: 90%;
    word-wrap: break-word;
    }

    a:link {
  color: #14ffec;
    }
    a:visited {
        color: #f1bbd5;
    }
    .column {
    float: left;
    width: 50%;
    }

    .right {
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
</head>
<p style="text-align:center;"><a href='/'><img src="{% static 'ZhoogleLogo.png' %}"></a></p>
<h1>The Best Search Engine</h1>

<form align='center' size="40">
{{ search.as_p }}
<input type='submit' value='Search!' />
</form>

{% if request.GET %}
    <span>
        <div class='column left'>
            <p>Your Search: {{query_string}}</p>

            
            {% if documents|length >= 100 %}
                <p># of Search Results: {{ documents|length }}+</p>
            {% else %}
                <p># of Search Results: {{ documents|length }}</p>
            {% endif %}

            {% for document in documents %}
                <div style="margin:30"><h3 style="margin:0"><a href='https://{{document.id|slice:"4:"}}'>{{document.title}}</a></h3>
                <p style="margin:0">{{document.snippet}}</p></div>
                {% if forloop.counter0 < 3 %}
                        <p style="margin-left:40; margin-top:0; margin-bottom:0; font-size:80%">Check out these similar pages:</p>
                    {% for item in document.correlated %}
                        <p style="margin-left:40; margin-top:2; margin-bottom:0; font-size:80%"><a href='https://{{item.id|slice:"4:"}}' style="color:#FFFF66">{{item.title}}</a></p>
                    {% endfor %}
                    
                {% endif %}
            {% endfor %}

            <p>-------------------------------------------</p>

            <h2>End of search results</h2>
        </div>
        <div class='column right' >
            <p>Your Reformulated Search: {{query_string}}{% for keyword in keywords %}<b>  +{{keyword}}</b>{% endfor %}</p>

            {% if newResults|length >= 100 %}
                <p># of Reformulated Search Results: {{ newResults|length }}+</p>
            {% else %}
                <p># of Reformulated Search Results: {{ newResults|length }}</p>
            {% endif %}

            {% for result in newResults %}
                <div style="margin:30"><h3 style="margin:0"><a href='https://{{result.id|slice:"4:"}}' style="color:#9370DB">{{result.title}}</a></h3>
                <p style="margin:0">{{result.snippet}}</p></div>
            {% endfor %}

            <p>-------------------------------------------</p>

            <h2>End of search results</h2>
        </div>
    </span>
    
{% else %}
<h2>Search Tips:</h2>
<li>To enforce that all results must contain a word, use "and" before your search term. For example "best and man"</li>
<li>To exclude any terms, use "not" followed by your term. For example, "best not man" will exclude any results with "man"</li>
<li>Phrasal Search: If you type a query in quotes, for example "Submissions regarding" only results containing that phrase will be returned!</li>
<li>Features currently in beta: <b>Reformulated search</b> will attempt to broaden your search with closely related terms</li>
{% endif %}

